.footer {
  padding: 40px 20px;
  background-color: #f1f4f8;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  color: #444;

  .logo {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: .2rem;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2b6cb0;

    img{
        width: 2rem;
    }
  }

  .desc {
    max-width: 500px;
    margin: 0 auto 20px;
    font-size: 0.95rem;
    color: #666;
  }

  
  .links {
    margin-bottom: 20px;
  }

  .links a {
    margin: 0 12px;
    text-decoration: none;
    font-size: 0.95rem;
    color: #2b6cb0;
    transition: color 0.3s ease;
  }

  .links a:hover {
    color: #1e4d85;
  }

  .copy {
    font-size: 0.85rem;
    color: #999;
  }
}

